video {
  max-width: 100%;
  width: 320px;
}

.header {
  text-align: center;
  color: #f5f5f5;
}

.container {
  margin: 0 auto 0 auto;
  max-width: 60em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.videocontainer {
  position: relative;
}

.left {
  grid-column: 1/2;
  border: 2px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
}

.right {
  grid-column: 2/2;
  border: 2px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
}

.muted {
  color: #fffc33;
}


video {
  height: 420px;
  width: 640px;
}

#localVideo {
  transform: scale(-1, 1);
}

button {
  background-color: #981cb8;
  border-radius: 12px;
  border: none;
  box-shadow: none;
  padding: 13px 40px !important;
  color: #ffffff;
  margin-right: 10px;
}

.roomButton {
  background-color: #981cb8;
  border-radius: 12px;
  border: none;
  box-shadow: none;
  padding: 7px 10px !important;
  color: #ffffff;
}

button:disabled {
  background-color: #727373;
  border-radius: 12px;
  border: none;
  box-shadow: none;
  padding: 13px 40px !important;
  color: #ffffff;
  margin-right: 10px;
  animation: none;
}

.outer {
  background-color: #464b53;
}

.status {
  font-size: 24px;
  text-align: center;
  justify-content: center;
  margin: 8px;
  font-weight: bold;
  color: #f5f5f5;
}

.select {
  color: #f5f5f5;
}

.buttons{
  display: flex;
  justify-content: center;
}

.callButtons{
  display: flex;
  justify-content: center;
  animation: glowing 1300ms infinite;
}

@keyframes glowing {
  0% {
    background-color: #981cb8;
    box-shadow: 0 0 5px #981cb8;
  }
  50% {
    background-color: #b747d3;
    box-shadow: 0 0 20px #b747d3;
  }
  100% {
    background-color: #981cb8;
    box-shadow: 0 0 5px #981cb8;
  }
}
